#adminURL {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: rgb(2, 122, 123) !important;
    color: white;
    padding: 7px;
    width: 200px;
}

#colorInput {
    height: 39px;
    padding: 5px;
    width: 100px;
}

#descriptionInput {
    width: 400px;
}

#footer {
    background-color: rgb(2, 122, 123) !important;
}

#header {
    background-color: rgb(2, 122, 123) !important;
    color: white;
}

.main {
    min-height: 46.5vh;
}